<ion-header>
	<ion-toolbar>
	  <ion-title>Animes</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content>
	<ion-list>
	  <ion-item>
		<ion-label>Naruto</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>Boku no Hero</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>One Piece</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>Doctor Stone</ion-label>
	  </ion-item>
	</ion-list>
  </ion-content>
  
  <ion-footer>
	<ion-toolbar>
	  <ion-title>Lista de Animes</ion-title>
	</ion-toolbar>
  </ion-footer>